.App {
  text-align: center;
}

.master-container {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.senior-container{
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.root-container {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.main-app-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.scoreboard-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-items: center;
}

.scoreboard-names {
	
}