.App {
  text-align: center;
}

.master-container {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.senior-container{
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.root-container {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.main-app-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.scoreboard-container {
	display: flex;
    flex-direction: column;
    width: 93%;
    align-items: center;
    height: 93%;
    justify-content: space-around;
}

.header-container {
	display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    width: 100%;
}

.h1 {
	display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
}

.total-players {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreboard-players {
	display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 90%;
	justify-content: space-around;
}

.scoreboard-border {
	display: flex;
    flex-direction: column;
    width: 50%;
    height: 85%;
    align-items: stretch;
    justify-content: stretch;
    border-style: solid;
    border-width: 2px;
}

.player-button-container {
	display: flex;
    flex-direction: row;
    width: 45%;
    justify-content: center;
}

.player {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
}

.player-name {
	display: flex;
	flex-direction: row;
	width: 50%;
	justify-content: flex-start;
}

.button-container {
	display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
    margin-right: 10%;
}

.counter-container {
	display: flex;
	flex-direction: row;
	width: 5%;
    justify-content: space-between;
}

.counter {
	display: flex;
	flex-direction: row;
	width: 100%;
    justify-content: space-between;
}