.App {
  text-align: center;
}

.master-container {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.senior-container{
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.root-container {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.main-app-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.scoreboard-container {
	display: flex;
    flex-direction: column;
    width: 93%;
    align-items: center;
    height: 93%;
    justify-content: space-around;
}

.header-container {
	display: flex;
    flex-direction: column;
    width: 100%;
    height: 25%;
    align-items: center;
    justify-content: center
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

.h1 {
	display: flex;
    margin: 0;
    flex-direction: column;
    height: 50%;
    align-items: center;
    justify-content: flex-end;
}

.total-players {
    display: flex;
    flex-direction: column;
    height: 35%;
    align-items: center;
    justify-content: center;
}

.scoreboard-players-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.scoreboard-players {
	display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    align-items: center;
    justify-content: space-around;
}

.scoreboard-border {
	display: flex;
    flex-direction: column;
    width: 50%;
    height: 85%;
    border-style: solid;
    border-width: 2px;
}

.player-button-container {
	display: flex;
    flex-direction: row;
    width: 65%;
    justify-content: flex-start
}

.player {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.player-name {
	display: flex;
	flex-direction: row;
	width: 80%;
	justify-content: flex-start;
}

.button-container {
    display: flex;
    flex-direction: row;
    width: 35%;
    justify-content: center;
}

.delete-button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.delete-button {
    display: flex;
    width: 17%;
    flex-direction: row;
}

.counter-container {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: center;
}

.counter {
	display: flex;
	flex-direction: row;
	width: 40%;
    justify-content: space-between;
}




.stopwatch {
    margin: 0px;
    /* delete margin-top */
}